body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 12px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 12px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.footer {
    justify-content: center;
    font-size: 12px;
    font-weight: lighter;
}